* {
    box-sizing: border-box
    }

body {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    font: Garamond;
}

h3 {
    text-align: center;
    font: Garamond;
    font-size: 28px;
}

p {
    text-align: center;
    font: Arial;
    font-size: 18}

ul {
    display: table;
    margin: 0;
    auto;
    font: Arial;
    font-size: 18}
   
img {
    height: 200px;
    width: 200px;
}

button {
    width: 70px;
    height: 40px;
    font-weight: 800;
    font-size: 10px;
    background-color: cornsilk;
    border-radius: 3rem;
}

button:hover {
    cursor: pointer;
    opacity: 50%;
}

label {
    align-items: center;
}

.score-board{
    margin: 20px;
    border: 3px;
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: white;
    background-color: blue;
    font-size: 36px;
    font-family: Arial;
    position: center;
}

.radio-inputs {
    /* background-color: blanchedalmond; */
    text-align: center;
}

.buttons-div {
    display: block;
    margin: 5px;
    /* background-color: cadetblue; */
    text-align: center;
}

.score-board {
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-style: solid;
}